
<div id="img-container">
    <div ng-repeat="image in images" id="img-border">
        <span><img ng-src="{{image}}" id="instaImage" class="z-depth-3"></span>
    </div>
</div>
<div class="text-container">
    <h1>Keep Calm Fish On</h1>
    <p>
        Keep Calm Fish On is a non-profit organization that helps coastal regions that have been affected by natural disasters. We operate solely on a volunteer basis and the donations of generous individuals and organizations. Not only do we help with victims of natural diasters, we also are active wildlife conservationist. We have volunteers with a variety of backgrounds that work as a collective to prevent the poaching, over fishing, and pollution of our oceans.
    </p>
</div>


