<body>
    <div class="logo-container">
        <img src="/img/Keep-Calm-Logo.jpg" class="logo">
    </div>
    <div class="header-container">        
        <h1 class="header">We would love to hear from you!</h1>
    </div>
    <div class="contact-container">
        <span>Vann Vaughan</span>
        <span>Vann@KeepCalmFishOn.com</span>
        <span>972-123-4567</span>
    </div>
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.552470873839!2d-96.79759748481796!3d32.77760748097185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e991e8e89a65f%3A0x5d751ac079880cc5!2s500+S+Ervay+St%2C+Dallas%2C+TX+75201!5e0!3m2!1sen!2sus!4v1497038139385" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>        
</body>