<body>
    <div id="img-container">
        <a href="https://unsplash.com/@mynameischris"><img src="img/chris-davis-9967.jpg" class="circle responsive-img howToImg z-depth-3"></a>
    </div>
    <div class="text-container">    
        <h1 class="header">How You Can Help</h1>
    </div>
    
    <div class="para-container">
        <div id="howToText">
            <h2>Volunteering</h2>
            <p>Keep Calm Fish On is always looking for volunteers to help out and dedicate a portion of their time to conservation or recovery efforts. If you are interested in volunteering, feel free to submit your information below and we will let you know when we have another event come up.</p>
        </div>
        <div id="howToText">
            <h2>Donations</h2>
            <p>If you can't make it to an event, we could always use donations. Keep Calm Fish On is a non-profit organization where every penny counts and goes towards the goal of a safe and clean ocean as well as the assistance of those who have been in the unfortunate path of mother nature. You can make a one time donation or re-occuring donations by clicking our link below! </p>
        </div>
    </div>

    <form class="col s12 form-border">
        <div class="row">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" class="validate">
                <label>Bit About You</label>
            </div>  
            <button class="btn waves-effect waves-light sub-btn" id="submit-btn" type="submit" name="action">Submit
        </div>
                <i class="material-icons right">send</i>
        </button>           
    </form> 
</body>