<body>
    <div id="img-container">
        <a href="https://unsplash.com/@mynameischris"><img src="img/chris-davis-9967.jpg" class="circle responsive-img howToImg z-depth-3"></a>
    </div>
    <div class="text-container">    
        <h1 class="header">How You Can Help</h1>
        <p class="paragraph">text</p>
    </div>
    <form class="col s12 form-border">
        <div class="row">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>  
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
            <button class="btn waves-effect waves-light" id="submit-btn" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
        </button>           
    </form> 
</body>